---
layout: default
title: Home
---

<h1>{{ "INDEX" | uppercase }}</h1>
<hr>

<section>
    <details open>
        <summary>
            <h3 class="home-page-heading">Latest Post</h3>
        </summary>
        <div class="parent">
            {% for post in site.tags.News %}
            <div class="post-wrapper" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </div>
            {% endfor %}
        </div>
    </details>
</section>
<section>
    <details>
        <summary>
            <h3 class="home-page-heading">Monthly</h3>
        </summary>
        <div class="parent">
            {% for post in site.tags.Monthly %}
            <div class="post-wrapper" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </div>
            {% endfor %}
        </div>
    </details>
</section>