---
layout: default
title: Home
---

<h1>{{ "INDEX" | uppercase }}</h1>

<section>
    <details open>
        <summary>
            <h3 class="home-page-heading">News</h3>
        </summary>
        <div class="parent">
            {% for post in site.tags.news %}
            <div class="post-wrapper">
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="post-link" href="{{ post.url }}">
                {{ post.title }}
                </a>
            </div>
            {% endfor %}
        </div>
        <ul>
            {% for post in site.tags.news %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <span>{{ post.date | date: "%B %d, %Y" }}</span>
                {{ post.excerpt }}
            </li>
            {% endfor %}
        </ul>
    </details>
</section>
<section>
    <details>
        <summary>
            <h3 class="home-page-heading">monthly</h3>
        </summary>
        <ul>
            {% for post in site.tags.IT %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
            </li>
            {% endfor %}
        </ul>
    </details>
</section>