---
layout: default
title: Home
---

<h1>{{ "INDEX" | uppercase }}</h1>

<section>
    <details open>
        <summary>
            <h3 class="home-page-heading">News</h3>
        </summary>
        <div class="parent">
            {% for post in site.tags.news %}
            <div class="post-wrapper" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </div>
            {% endfor %}
        </div>
    </details>
</section>
<section>
    <details open>
        <summary>
            <h3 class="home-page-heading">monthly</h3>
        </summary>
            {% for post in site.tags.IT %}
            <div class="post-wrapper" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                <time class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </div>
            {% endfor %}
    </details>
</section>
<script>
    const posts = document.querySelectorAll('.post-wrapper');
    const currentDate = new Date();

    posts.forEach(post =>{
    const postDate = new Date(post.getAttribute('datetime'));
    const timeDifference = currentDate - postDate;
    const threeDaysInMilliseconds = 3 * 24 * 60 * 60 * 1000;
    if (timeDifference < threeDaysInMilliseconds) {
        post.querySelector('a').style.fontWeight = 'bold';
        post.querySelector('time').style.fontWeight = 'bold';
    }
    });
</script>