---
layout: default
title: Tags
---

<h1>Tags</h1>
<hr>

{% assign alldocs = site.documents | sort:'date' | reverse %} 
{% assign alltags =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by_exp: "tag","tag" %}

<div class="tag-box">
  <a class="All" href="/tags">Total({{alldocs.size}})</a>
  <br>
    {% for tag in alltags %}
      <a href="/tags/{{tag.name | slugify }}">#{{ tag.name }}({{ tag.size }})</a>
    {% endfor %}
</div>

{% for tag in alltags %}
<div class="tag-list" id="{{ tag.name | slugify }}">
  <h2 class="nice-title">
    <a href="/tags/{{tag.name | slugify }}" class="header-anchor" aria-hidden="true">#</a>
    {{ tag.name }}
  </h2>
  <ol>
    {% for document in alldocs %}
    {% if document.tags contains tag.name %}
      <div class="post-wrapper" datetime="{{ document.date | date: "%Y-%m-%d" }}">
        <time class="post-date">{{ document.date | date: "%B %d, %Y" }}</time>
        <a class="post-link" href="{{ document.url }}">{{ document.title }}</a>
      </div>
    {% endif %}
    {% endfor %}
  </ol>
</div>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tagLists = document.querySelectorAll(".tag-list");

    const showTagList = (selectedTag) => {
      tagLists.forEach(list => {
        if (selectedTag === "Total" || list.id === selectedTag) {
          list.removeAttribute("hidden");
        } else {
          list.setAttribute("hidden", "true");
        }
      });
    };
    const currentTag = window.location.pathname.split('/').pop();
    showTagList(currentTag || "Total");
  });
</script>