section{
    h3 {
        margin-top: 40px;
        font-size: 1.25rem;
        cursor: pointer;
        transition: font-size 0.5s ease-in-out;
    }
    h3:hover{
        font-weight: bold;
        color: red;
    }
    .post-tag{
        margin-left: 10px;
        font-size: 0.8em;
        opacity:0.5;
    }
}

.tag-box {
    text-transform: capitalize;
    a{
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 10px;
    }
    a:hover{
        background-color: white;
        color:black;
        font-weight: bold;
    }
}